<!doctype html>
<html lang="ja">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- fontawesome -->
    <link href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" rel="stylesheet">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="form_contents">
        <p>全角カタカナ以外の文字はワイルドカードに変換されます</p>
        <div class="input regex">
            <label for="input_regex">検索表現</label>
            <input id="input_regex" placeholder="(例)オ○○">
        </div>
        <div class="input text">
            <label for="input_text">検索ワード</label>
            <input id="input_text" placeholder="(例)お正月に食べるものは？">
        </div>
        <button id="btn_search">検索</button>
    </div>
    
    <p id="msg"></p>
    <table id="tb_result">
    </table>
    {% csrf_token %}

<style>
    .form_contents{
        max-width: 600px;
        padding: 5px;
    }
    .input{
        display: flex;
        justify-content: space-between;
        margin: 5px;
    }
    button{
        margin: 10px;
        width: 100px;

    }
    input{
        height: 50px;
        width: 300px;
    }
    #tb_result th{
        font-weight: normal;
        text-align: center;
    }
    #tb_result td{
        font-weight: bold;
        text-align: right;
        min-width: 100px;
    }
</style> 
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
waiting = false;
startTime = null;

$("#btn_search").click(function(){
    if(waiting)return;

    regex = $("#input_regex").val();
    text = $("#input_text").val();
    if(regex.length <= 0){
        $("#msg").text("文字列を入力してください");
        return;
    }
    if(text.length <= 0){
        $("#msg").text("検索キーワードを入力してください");
        return;
    }
    url = "{% url 'crossword:search' %}";
    waiting = true;
    startTime = performance.now();
    console.log("検索を開始します")
    $("#msg").text("検索中です");
    $.ajax({
        url: url,
        type: 'POST',
        cache: false, 
        dataType:'json',
        headers: {'X-CSRFToken': csrftoken},
        data: {"text":text,"regex":regex},
    })
    .done(function(data){ // 通信が成功したときの処理 
        regex = data.regex
        json = JSON.parse(data.data)
        word_list = json.word_kanji;
        word_list_ka = json.word;
        count_list = json.count

        length = Object.keys(count_list).length
        
        $("tr").remove();
        $("#tb_result").append("<tr><th>単語</th><th>出現回数</th></tr>");
        for(i = 0; i < length; i++){
            console.log("word:" + word_list[i] + "(" + word_list_ka[i] + ")  count: " + count_list[i]);
            $("#tb_result").append("<tr><td>" + word_list[i] + "(" + word_list_ka[i] + ")</td><td>" + count_list[i] + "</td></tr>\n");
        }
        time = (performance.now() - startTime) / 1000;
        $("#msg").text("検索結果: " + String(length) + "件\n検索時間: " + String(time).substr(0,4) + "秒\n検索表現: " + regex.replace(/./g,"○"))
    })
    .fail(function(data){ // 通信が失敗したときの処理
        $("#msg").text("通信に失敗しました"); 
    })
    .always(function(data){ //通信の成否にかかわらず実行する処理 
        waiting = false;
    });
})
$("#input_text").keydown(function() {
  if( event.keyCode == 13 ) {
    $("#btn_search").click();
  }
});
$("#input_regex").keydown(function() {
  if( event.keyCode == 13 ) {
    $("#btn_search").click();
  }
});

</script>
</body>
</html>
