@charset "UTF-8";

/* 端末がスマートフォンの時に適用するスタイル */

@import url("style.css");

body {
	-webkit-text-size-adjust: 100%;
}
.header_user_name{
	display: none;
}
.header-dropmenu-cell{
	display: block;
}
.update_history_cell,.login_cell,.signup_cell,.create_cell{
	display: none;
}

#main_content {
	display: table;
	width: 100%;
}

#main_content .content_left {
	display: none;
}

#main_content .content_center {
	display: inline-block;
	width: calc(100% - 40px);
	min-width: calc(320px - 40px);
	height: 100%;
	margin: 115px 0 100px 0;
	padding: 15px 20px 15px 20px;
}

#main_content .content_center .banner_area {
	display: block;
	width: calc(100% + 36px);
	margin-top: -20px;
	margin-left: -20px;
}

#main_content .content_center .banner_area .kadai {
	width: calc(100% - 40px);
	padding: 20px 20px 240px 20px;
}

#main_content .content_center .item_category_info {
	display: block;
}

#main_content .content_center .item_category_info .cat1 {
	display: inline-block;
	font-size: 23px;
	font-weight: bold;
	padding: 5px 0;
	user-select: text;
}

#main_content .content_center .item_category_info .arrow {
	display: inline-block;
	font-size: 11px;
	margin-left: 10px;
	padding: 1px 0;
	transform: scale(1.0, 2.0);
	position: relative;
	top: -5px;
	z-index: -5;
}

#main_content .content_center .item_category_info .cat2 {
	display: inline-block;
	font-size: 18px;
	margin-left: 10px;
	padding: 1px 0;
	user-select: text;
}

#main_content .content_center .search_result_by {
	font-size: 17px;
	padding: 1px 0;
	user-select: text;
}

#main_content .content_center .search_result_wrap {
	display: inline-block;
	width: 100%;
	font-size: 13px;
}

#main_content .content_center .search_result_wrap .count_info {
	display: block;
	width: 100%;
	height: unset;
}

#main_content .content_center .search_result_wrap .page_info {
	display: block;
	width: 100%;
	height: unset;
}

#main_content .content_center .item_box {
	display: block;
	float: left;
	width: calc(50% - 10px);
	height: 250px;
	margin: 5px;
}

#main_content .content_center .no_result {
	margin: 10px 0 0 0;
}

#main_content .item_count {
	font-size: 18px;
	margin: 0 5px;
}

#main_content .item_image {
	height: 120px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	image-rendering: high-quality;
}

#main_content .content_right {
	display: none;
}