<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}Home{% endblock %}
<!-- 子・メインコンテンツ -->
{% block content %}
{% load static %}
<div style="background: white url("{% static 'polls/images/sample.gif' %} ") no-repeat">
{{ error_message }}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</div>

{% endblock %}