{% extends 'base.html' %}
{% block title %}更新履歴{% endblock %}

{% block content %}

{% if error_message != '' %}
    <p>{{error_message}}</p>
{%endif%}
<form method="post" action="{% url 'polls:update_history' %}">
    {% csrf_token %}
    <label>追加予定</label>
    <input name="content_text">
    <input type="submit">
</form>
<div class="not_completed">
<p>更新予定</p>
<table>
    <tr><th>内容</th><th>追加日</th></tr>
    {% for cont in contents %}
        {% if not cont.is_completed %}
            <tr><td>{{cont.content_text}}</td>
                <td>{{cont.updated_at}}</td>
            <td><form method="post" action="{% url 'polls:update_history' %}">
                {% csrf_token %}
                <input type="hidden" name="completed_id" value="{{cont.id}}">
                <button type="submit">完了</button>
            </form></td>
            <td><form method="post" action="{% url 'polls:update_history' %}">
                {% csrf_token %}
                <input type="hidden" name="deleted_id" value="{{cont.id}}">
                <button type="submit">削除</button>
            </form></td></tr>
        {%endif%}
    {% endfor %}
</table>
</div>
<div class="completed">
<p>更新履歴</p>
<table> 
    <tr><th>内容</th><th>完了日</th></tr>
    {% for cont in contents %}
        {% if cont.is_completed %}
            <tr><td>{{cont.content_text}}</td>
                <td>{{cont.updated_at}}</td>
                <td><form method="post" action="{% url 'polls:update_history' %}">
                    {% csrf_token %}
                    <input type="hidden" name="deleted_id" value="{{cont.id}}">
                    <button type="submit">削除</button>
                </form></td></tr>
        {%endif%}
    {% endfor %}
</table>
</div>
<style>
.not_completed,.completed{

    border-bottom: 2px solid gray;
} 
.not_completed p,.completed p{
    font-weight: bold;
}
table{
    min-width: 500px;
}
th{
    font-weight: normal;
}


</style>

{% endblock %}