#container{
  max-width: 400px;
  width:80%;
  margin:30px;
  padding: 20px;
  background-color: #CFF6F6;
  border: solid 1px gray;
  border-radius: 10px;
}

.row{
  margin-bottom: 20px;
}

.btn{
    color: #fff;
    background-color: gray;
    width: 100px;
}

.btn:hover{
  color: #fff;
  background: #000099;
}