<!-- templates/index.html -->
{% extends 'base.html' %}
<!-- タイトル -->
{% block title %}アカウント情報{% endblock %}
<!-- 追加リソース -->
{% block extra-static %}
<!-- axios(API非同期通信) -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% load static %} {% endblock %}
<!-- 子・メインコンテンツ -->
{% block content %}
<form id="form">
  <div class="container container-fluid">
    <div class="row">ユーザ名</div>
    <div class="row">
      <input name="username" value="{{ user.username }}" />
    </div>
    <div class="row">メールアドレス</div>
    <div class="row">
      <input name="email" value="{{ user.email }}" />
    </div>
    <div class="row">プロフィール</div>
    <div class="row">
      <textarea
        name="profile"
        value="{user.profile}"
        oninput="auto_grow(this)"
        maxlength="1000"
      ></textarea>
    </div>
    <div class="row account_delete">
      <div class="col-sm-10">
        <input type="button" onclick="sendData()" value="更新" />
      </div>
      <div class="col-sm-2">
        <input type="button" id="delete" value="退会" />
      </div>
    </div>
  </div>
</form>

<style>
  button {
    min-width: 50px;
  }
</style>

<script>
  axios.defaults.xsrfCookieName = "csrftoken";
  axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
  function auto_grow(element) {
    element.style.height = "5px";
    element.style.height = element.scrollHeight + "px";
  }
  function sendData() {
    // formタグの要素を取得
    const form = document.getElementById("form");
    const formData = new FormData(form);
    const json = JSON.stringify(Object.fromEntries(formData));
    axios
      .post("/api/user/{{user.id}}/", {"username":"aaa"})
      .then((response) => {
        // レスポンス処理
        alert(response.data);
      })
      .catch((error) => {
        // エラー処理
        alert(error);
      });
  }
</script>

{% endblock %}
