<!-- templates/my_questions.html -->
{% extends 'base.html' %}
<!-- タイトル -->
{% block title %}プロフィール{% endblock %}
<!-- 追加リソース -->
{% block extra-static %}
{% endblock %}
<!-- 子・メインコンテンツ -->
{% block content %}
<div class="account-outer">
    <div class="account">
        <i id="user-icon" class="fa-solid fa-circle-user fa-3x"></i>
        <p>{{account.user.username}}</p>
        <p>投稿数：{{account.user.question_set.all|length }} </p>
        <p>{{ account.profile }}</p>

    </div>
</div>

<ul>
{% for question in questions %}
    <li>
        <a href="{% url 'polls:vote' question.pk %}" class="question">
            <p>{{question.title}}</p>
            <p class="watched">{{question.genre.title}}   {{question.watched}}view</p>
        </a>
    </li>
{% endfor %}
</ul>
<style>
    .account-outer{
        min-height: 100px;
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
    .account{
        max-width: 1000px;
    }
    .question{
        display: block;
        text-decoration: none;
        border: solid 1px gray;
        border-radius: 10px;
        padding: 5px;
        margin-bottom: 10px;
    }
    .watched{
        font-size: 15px;
        text-align: right;
    }
</style>

{% endblock %}