{% extends 'base.html' %}
{% block title %}投稿/編集画面{% endblock %}
{% load static %}
<!-- 追加リソース -->
{% block extra-static %}
<!-- Vue3 -->
<script src="https://unpkg.com/vue@3"></script>
<!-- axios(API非同期通信) -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}
{% block content %}
<div id="app">
    [[ message ]]
    <form method="post" action="/create_question/" onkeydown="return event.key != 'Enter';">
        {% csrf_token %}
        <div id="container">
            
            <select name="genre" id="genre">
                <option value="">ジャンルなし</option>
                {% for genre in genres %}
                <option>{{ genre.title }}</option>
                {% endfor %}
            </select>
            <br>
            <input type="text" id="title" name="question_title" placeholder="タイトル" required>            
            <br>
            <textarea c=100 r=3 id="explanation" name="explanation" placeholder="説明文（省略可）"></textarea>
            
            <div id="content" class="containner-fluid">
                <input class="button btn-add" type="button" v-on:click="add_choice(-1)" value="追加">
                <div class="row" v-for="(choice,index) in choices" :key="index">
                    <div class="col-sm-12">
                        <input type="search" @keydown.enter="add_choice(index)" @keydown.delete="on_delete(index)" v-model="choices[index].choice_text" :name="'choice_title' + index" :id="'choice' + index" class="choice-title" required>
                        <span>　</span>
                        <img class="trash" src="{% static 'polls/images/trash-alt-solid.svg' %}" v-on:click="remove_choice(index)">
                    </div>
                </div>
                <input hidden name="choice_num" v-bind:value="choices.length">
            </div>
            <div class="submit-row">
                <input type="submit" class="button btn-submit" value="投稿">
            </div>
        </div>
    </form>
</div>
    
    
<script>
    Vue.createApp({
        data() {
            return {
                message: "",
                choices: [
                    {choice_text:""},
                    {choice_text:""},
                ],
                voted:false,
            }
        }
        ,methods: {
            add_choice(index){
                // 一番下,新規の時は行を追加
                if(index == this.choices.length - 1 || index == -1){
                    this.choices.splice(index+1,0,{
                        choice_text: "",
                    })
                }
                // １つ下を選択
                this.$nextTick(function() {
                    document.getElementById('choice' + (index+1)).select();
                });
            },
            remove_choice(index){
                if(this.choices.length <= 2){
                    return;
                }
                this.choices.splice(index,1)
            },
            on_delete(index){
                if(this.choices[index].choice_text == '' && this.choices.length >= 2 && index > 0){
                    this.remove_choice(index)
                    // １つ上を選択
                    this.$nextTick(function() {
                        document.getElementById('choice' + (index-1)).select();
                    });
                }
            },
        }
        ,mounted() {

        }
        // djangoのテンプレートエンジンと競合するので{}から[]に変更
        ,delimiters: ['[[', ']]']
    }).mount('#app')
</script>

<style>
input[type="search"] {
    -webkit-appearance: searchfield;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}
textarea{
    width:100%;
}
#container{
    max-width: 600px;
    width:100%;
    padding: 40px;
    background-color: #CFF6F6;
    border: solid 1px gray;
    border-radius: 10px;
}
#title{
    width:100%;
    margin-bottom: 20px;
}
#explanation{
    margin-bottom: 20px;
}
#genre{
    margin-bottom: 20px;
}
.choice-title{
    width: 80%;
    margin-bottom: 10px;
}
.trash{
    width: 25px;
    height: 25px;
}
.trash:hover{
    cursor: pointer;
}
.btn-add{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.btn-submit{
    border-radius: 10px;
    background-color: #FF8C00;
    font-weight: bold;
    width: 200px;
    padding: 10px;
    margin-top: 50px;
}
.submit-row{
    text-align: center;
}
</style>
{% endblock %}