{% extends 'base.html' %}
{% block title %}投稿画面{% endblock %}
{% load static %}
<!-- 追加リソース -->
{% block extra-static %}
<!-- Vue3 -->
<script src="https://unpkg.com/vue@3"></script>
<!-- axios(API非同期通信) -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}
{% block content %}
<div id="app">
    [[ message ]]
    <form method="post" action="/create_question/" name="form1">
        {% csrf_token %}
        <div id="container">
            <!-- ジャンル -->
            <select name="genre" id="genre" required>
                <option value="" disabled selected style="display:none;">選択してください</option>
                {% for genre in genres %}
                <option value="{{genre}}">{{ genre }}</option>
                {% endfor %}
            </select>
            <br>

            <!-- 認証レベル -->
            <select name="auth_level" id="auth_level">
                <option value="0">誰でも</option>
                <option value="1">ユーザーのみ</option>
                <!-- <option value="2">マイナンバー連携ユーザのみ</option> -->
            </select>
            投票可
            
            <input hidden>
            <br>
            <input type="text" id="title" name="question_title" placeholder="タイトル" required>            
            <br>
            <textarea id="explanation" name="explanation" placeholder="説明文（省略可）"></textarea>
            
            <div id="content" class="containner-fluid">
                <input class="button btn-add" type="button" v-on:click="add_choice(-1)" value="追加">
                <div class="row" v-for="(choice,index) in choices" :key="index">
                    <div class="col-sm-12">
                        <textarea rows="1" @input="applyChanges" @keydown.delete="on_delete" v-model="choices[index]" :name="'choice' + index" :id="index" class="choice" maxlength="25" required></textarea>
                        <span>　</span>
                        <img class="trash" src="{% static 'polls/images/trash-alt-solid.svg' %}" v-on:click="remove_choice(index)">
                    </div>
                </div>
                <input hidden name="choice_num" v-bind:value="choices.length">
            </div>
            
            <div class="submit-row">
                <input type="button" @click="submit" id="btn-submit" class="btn btn-primary" value="投 稿">
            </div>
        </div>
    </form>
</div>
    
    
<script>
    Vue.createApp({
        data() {
            return {
                message: "",
                choices: [
                    "",
                    "",
                ],
                voted:false,
            }
        }
        ,methods: {
            applyChanges(event){
                let arr = event.target.value.split(/\r\n|\n/);
                let idx = Number(event.target.id)

                this.choices[idx] = arr[0]
                for (let i = 1; i < arr.length; i++){
                    this.add_choice(idx+i-1)
                }
            },
            add_choice(index){
                index = index == -1 ? this.choices.length -1 : index
                this.choices.splice(index+1,0,"")
                
                // １つ下を選択
                this.$nextTick(function() {
                    document.getElementById(index+1).select();
                });
            },
            remove_choice(index){
                if(this.choices.length <= 2){
                    return;
                }
                this.choices.splice(index,1)
            },
            on_delete(e){
                index = Number(e.target.id)
                if(this.choices[index] == '' && this.choices.length >= 2 && index > 0){
                    document.getElementById(index-1).focus();
                    this.remove_choice(index)
                    e.preventDefault();
                }
            },
            submit(){
                if(document.form1.checkValidity()){
                    document.form1.submit();
                }else{
                    document.form1.reportValidity();
                }
            }
        }
        ,mounted() {

        }
        // djangoのテンプレートエンジンと競合するので{}から[]に変更
        ,delimiters: ['[[', ']]']
    }).mount('#app')
</script>

<style>
#app{
    margin: auto;
    max-width: 700px;
}
#container{
    max-width: 600px;
    width:100%;
    padding: 40px;
    background-color: #CFF6F6;
    border: solid 1px gray;
    border-radius: 10px;
}
#title{
    width:100%;
    margin-bottom: 20px;
}
#explanation{
    height: 200px;
    width:100%;
    margin-bottom: 20px;
}
#genre,#auth_level{
    margin-bottom: 20px;
}
.choice{
    width: 80%;
    margin-bottom: 10px;
    resize:none;
    overflow: hidden;
}
.trash{
    width: 25px;
    height: 25px;
}
.trash:hover{
    cursor: pointer;
}
.btn-add{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}
#btn-submit{
    font-weight: bold;
    width: 200px;
    padding: 10px;
    border-color: gray;
    margin-top: 50px;
}
.submit-row{
    text-align: center;
}
</style>
{% endblock %}