{% extends 'base.html' %}
{% block title %}詳細画面{% endblock %}

<!-- 追加リソース -->
{% block extra-static %}
<!-- Vue3 -->
<script src="https://unpkg.com/vue@3"></script>
<!-- axios(API非同期通信) -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block content %}
<div id="app">
    [[ message ]]{{error_message}}
    [[comment_draft]]
    
    <input hidden id="question_id" value="{{ question.id }}">
    {% csrf_token %}

    <h1>{{ question.title }}</h1>
    <p>投稿者: {{ question.author.username }}</p>

    <div id="content-choices" class="containner-fluid">
        <div class="row" v-for="(choice,index) in choices">
            <div class="col-sm-3">[[ choice.choice_text ]]</div>
            <div class="col-sm-6">
                <div class="box-voted" v-bind:style="{ width: width(choice.votes) }"><span>[[ choice.votes ]]</span></div>
            </div>
        </div>
    </div>

    <div id="content-comments" class="containner-fluid">
        <input type="text" v-model="comment_draft">
        <input type="button" v-on:click="postComment()" value="投稿">

        <div class="row" v-for="( comment,index) in comments">
            <div class="col-sm-12">
                [[ comment.user ]]
                [[ comment.text ]]
            </div>
        </div>
    </div>
</div>

<style>
    .container-fluid{
        width:500px;
        margin-top: 30px;
    }
    .box-voted{
        height: 100%;
        background-color: deepskyblue;
    }
    .box-margin{
        height: 100%;
    }
</style>

<script>
    Vue.createApp({
        data() {
            return {
                message: "",
                question_id: 0,
                comment_draft: "",
                choices: [],
                comments: [],
            }
        }
        ,methods: {
            // コメント投稿
            postComment(event){
                axios.defaults.xsrfCookieName = 'csrftoken'
                axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
                // axios.defaults.headers.common = "application/json"
                axios.post('/post_comment/' + this.question_id + '/',{text: 'aaaaa'})
                .then(res => {
                    this.comment_draft = ""
                })
                .catch(error => {
                    this.message = "コメントの投稿に失敗しました" + error.response
                })
            },
            // 幅計算
            width(votes){ return votes * 100 / this.voteSum + '%' }
        }
        ,mounted() {
            // question_id取得
            this.question_id = document.getElementById('question_id').value;

            // 選択肢取得
            axios.get("/api/choices/" + this.question_id)
            .then(res => {
                this.choices = res.data
            })
            .catch(res => {
                this.message = "選択肢情報の取得に失敗しました" + res.data
            })
            // コメント取得
            axios.get("/api/comments/" + this.question_id)
            .then(res => {
                this.comments = res.data
            })
            .catch(res => {
                this.message = "コメントの取得に失敗しました" + res.data
            })
        }
        ,computed: {
            voteSum(){ return this.choices.reduce((sum,el) => sum + el.votes,0)}
        }
        // djangoのテンプレートエンジンと競合するので{}から[]に変更
        ,delimiters: ['[[', ']]']
    }).mount('#app')
</script>
{% endblock %}