{% extends 'base.html' %}
{% block title %}詳細画面{% endblock %}

<!-- 追加リソース -->
{% block extra-static %}
<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- jquery.inview.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
<!-- Vue3 -->
<script src="https://unpkg.com/vue@3"></script>
<!-- axios(API非同期通信) -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block content %}
<div id="app">
    [[ message ]]{{error_message}}
    
    <input hidden id="question_id" value="{{ question.id }}">
    <input hidden id="voted_choice_id" value="{{ voted_choice_id }}">
    {% csrf_token %}
    <p id="created_at">公開日 {{ question.created_at|date:"Y/n/j" }}</p>
    {% if question.genre %}
    <p>#{{ question.genre.title }}</p>
    {% endif %}
    <h2>{{ question.title }}</h2>
    <p>[[ voteSum ]]票</p>
    
    
    <!-- 選択肢 -->
    <div id="content-choices" class="containner-fluid">
        <canvas id="chart"></canvas>
        
        {% if request.user.is_authenticated and not request.user == question.author %}
        <a href='{% url "polls:revote" question.id %}' class="btn btn-primary">再投票</a>
        {% endif %}
    </div>
    
    <!-- 詳細 -->
    <div id="content-info">
        <a id="user-icon" href='{% url "polls:account_top" question.author.username %}'>
            <i class="fa-solid fa-circle-user fa-3x"></i>
            {{ question.author.username }}
        </a>
        <p class="explanation">{{ question.explanation }}</p>
    </div>

    <!-- コメント -->
    <div id="content-comments" class="containner-fluid">
        <div class="comment-form">
            <textarea cols="30" rows="4" id="comment-draft" v-model="comment_draft"></textarea>
            <br>
            <button v-on:click="postComment()">コメント</button>
        </div>

        <div class="row" v-for="( comment,index) in comments">
            <div class="comment-container">
                <div class="comment-icon">
                    <a :href="'/' + comment.user.username + '/account_top/'"><i id="user-icon" class="fa-solid fa-circle-user fa-2x"></i></a>
                </div>
                <div class="comment-contents">
                    <div class="comment-header">
                        <h3>[[ comment.user.username ]]</h3>
                        <span>[[ comment.get_date ]]</span>
                    </div>
                    <div class="comment-text">
                        <p>[[ comment.text ]]</p>
                    </div>
                    <div class="comment-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #app{
        margin: auto;
        max-width: 700px;
    }
    canvas{
        width: 100%;
    }
    #created_at{
        text-align: right;
        right: 0px;
    }

    #content-choices{
        width:100%;
        margin-top: 30px;
    }
    #content-info{
        padding-top: 30px;
        border-top: solid gray 1px;
    }
    #user-icon{
        text-decoration: none;
        color: black;
    }
    .explanation{
        padding-top: 10px;
    }
    #content-comments{
        border-top: solid gray 1px;
        width: 100%;
        margin-top:50px;
    }
    .comment-form{
        padding-bottom: 30px;
        border-bottom: solid gray 1px;
    }
    .row{
        margin-top: 20px;
    }

    .comment-form{margin-top:30px;}
    #comment-draft{max-width: 500px;width:100%;}
    .comment-container{
        display: flex;
    }
    .comment-icon{margin-right: 10px;}
    .comment-icon a{
        color: black;
    }
    .comment-text p {
        white-space: pre-wrap;
    }
</style>

<script>
    Vue.createApp({
        data() {
            return {
                message: "",
                question_id: 0,
                voted_choice_id:0,
                comment_draft: "",
                choices: [],
                comments: [],
            }
        }
        ,methods: {
            // コメント投稿
            postComment(event){
                if(!this.comment_draft)return;

                axios.defaults.xsrfCookieName = 'csrftoken'
                axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
                
                let params = new URLSearchParams();
                params.append('text', this.comment_draft);
                axios.post('/post_comment/' + this.question_id + '/', params)
                .then(res => {
                    this.comment_draft = ""
                    this.getComments()
                })
                .catch(error => {
                    this.message = "コメントの投稿に失敗しました" + error.response
                })
            },
            // コメント取得
            getComments(){
                axios.get("/api/comments/" + this.question_id)
                .then(res => {
                    this.comments = res.data
                })
                .catch(res => {
                    this.message = "コメントの取得に失敗しました" + res.data
                })
            },
            // グラフ描画
            renderGraph(){
                Chart.defaults.font.size = 20;
                let labels = []
                let votes = []
                this.choices.forEach(element => {
                    labels.push(element.choice_text)
                    votes.push(element.votes)
                });
                

                // データ
                const data = {
                    labels: labels,
                    datasets: [{
                        label: '投票結果',
                        backgroundColor: '#66CCFF',
                        borderColor: 'rgb(255, 99, 132)',
                        data: votes,
                    }]
                };

                // チャート情報
                const config = {
                    type: 'bar',
                    data: data,
                    options: {
                        indexAxis: 'y',
                        scales:{
                            x:{
                                display:false,
                                ticks: {
                                    // Include a dollar sign in the ticks
                                    callback: function(value, index, ticks) {
                                        return '$' + value;
                                    }
                                }
                            },
       
                        }
                    }
                };

                // チャート生成
                const chart = new Chart(
                    document.getElementById('chart'),
                    config
                );
            },

        }
        ,mounted() {
            // question_id取得
            this.question_id = document.getElementById('question_id').value;
            // 投票済みchoice_id取得
            this.voted_choice_id = document.getElementById('voted_choice_id').value;

            // 選択肢取得
            axios.get("/api/choices/" + this.question_id,{
                params:{sort: true}
            })
            .then(res => {
                this.choices = res.data
                // グラフ描画
                this.renderGraph();
            })
            .catch(res => {
                this.message = "選択肢情報の取得に失敗しました" + res.data
            })
            // コメント取得
            this.getComments()


        }
        ,computed: {
            voteSum(){ return this.choices.reduce((sum,el) => sum + el.votes,0)}
        }
        // djangoのテンプレートエンジンと競合するので{}から[]に変更
        ,delimiters: ['[[', ']]']
    }).mount('#app')
</script>
{% endblock %}