{% extends 'base.html' %}
{% block title %}投稿/編集画面{% endblock %}
<!-- 追加リソース -->
{% block extra-static %}
<!-- Vue3 -->
<script src="https://unpkg.com/vue@3"></script>
<!-- axios(API非同期通信) -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}
{% block content %}
<div id="app">
    <input type="text" v-model="title">

    <div id="content" class="containner-fluid">
        <div class="row" v-for="(choice,index) in choices" :key="index">
            <div class="col-sm-12">
                <input v-model="choices[index]">
            </div>
        </div>
    </div>

    <input type="button" v-on:click="add_question">
</div>
    
    
<script>
    Vue.createApp({
        data() {
            return {
                title: "",
                choices: [],
            }
        }
        ,methods: {
            add_question(){
                this.choices.push({
                    choice_text: "",
                })
            },
        }
        ,mounted() {

        }
        // djangoのテンプレートエンジンと競合するので{}から[]に変更
        ,delimiters: ['[[', ']]']
    }).mount('#app')
</script>
{% endblock %}