<!-- templates/index.html -->
{% extends 'base.html' %}
<!-- タイトル -->
{% block title %}トップ画面{% endblock %}
<!-- 追加リソース -->
{% block extra-static %}
<!-- Vue3 -->
<script src="https://unpkg.com/vue@3"></script>
<!-- axios(API非同期通信) -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}
<!-- 子・メインコンテンツ -->
{% block content %}
<div class="heading">
    <button class="btn btn-primary btn-lg" onclick="location.href='{% url "polls:create_question" %}'">投稿</button>
</div>

<div id="app">
    [[ message ]]
    <input v-on:keydown.enter="search" v-model="keyword" >
    <button v-on:click="search" class="btn">検索</button>
    <ul>
        <li v-for="question in questions">
            <div>
                <a v-bind:href="'vote/' + question.id + '/'">[[ question.question_text ]]</a>
                <p>[[ question.watched ]]view</p>
            </div>
        </li>
    </ul>
</div>


<script>
    Vue.createApp({
        data() {
            return {
                keyword: "",
                message: '',
                questions: [],
                param:"{}", 
                result:"....",
            }
        }
        ,methods: {
            search(){
                axios.get("/api/questions/",{
                    params:{
                        keyword: this.keyword
                    }
                })
                .then(res => {
                    this.questions = res.data
                })
                .catch(res => {
                    this.message = "検索に失敗しました"
                })
            }
        }
        ,mounted() {
            axios.get("/api/questions/")
            .then(res => {
                this.questions = res.data
                console.log(this.questions)
            })
            .catch(res => {
                this.questions = res.data
                console.log(this.questions)
            })
        }
        // djangoのテンプレートエンジンと競合するので{}から[]に変更
        ,delimiters: ['[[', ']]']
    }).mount('#app')
</script>
{% endblock %}