<!-- templates/index.html -->
{% extends 'base.html' %}
<!-- タイトル -->
{% block title %}トップ画面{% endblock %}
<!-- 追加リソース -->
{% block extra-static %}
<!-- Vue3 -->
<script src="https://unpkg.com/vue@3"></script>
<!-- axios(API非同期通信) -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}
<!-- 子・メインコンテンツ -->
{% block content %}

<div id="app">
    [[ message ]]
    <select v-model="genre" v-on:change="search" class="select-genre">
        <option value="">全て</option>
        {% for genre in genres %}
        <option value="{{ genre.id }}">{{ genre.title }}</option>
        {% endfor %}
    </select>
    <input v-on:keydown.enter="search" v-model="keyword" placeholder="検索ワードを入力">
    <input type="button" v-on:click="search" class="search-btn" value="🔍">
    
    
    <div class="questions-header">
        <select id="select_sort" v-on:change="sort">
            <option value="0" selected>閲覧回数の多い順</option>
        </select>
        <span class="reverse" v-on:click="reverse">↑↓</span>
    </div>
    
    [[ no_results ]]
    <div v-for="question in questions">
        <a v-bind:href="'vote/' + question.id + '/'" class="question">
            <p>[[ question.title ]]</p>
            
            <p class="watched">[[ question.author.username ]] [[ ( question.genre || {} ).title ]]   [[ question.watched ]]view</p>
        </a>
    </div>
    
</div>

<style>
    #app{
        max-width: 800px;
        margin: auto;
    }
    .select-genre{
        margin-right: 50px;
    }
    .questions-header{
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: right;
    }
    .reverse:hover{
        cursor: pointer;
    }
    .question{
        display: block;
        text-decoration: none;
        border: solid 1px gray;
        border-radius: 10px;
        padding: 5px;
        margin-bottom: 10px;
        
    }
    .question:hover{
        background-color: #CCFFFF;
    }
    .watched{
        font-size: 15px;
        text-align: right;
    }

</style>


<script>
    Vue.createApp({
        data() {
            return {
                message: '',
                keyword: "",
                genre: "",
                questions: [],
            }
        }
        ,methods: {
            search(){
                axios.get("/api/questions/",{
                    params:{
                        keyword: this.keyword,
                        genre: this.genre,
                    }
                })
                .then(res => {
                    this.questions = res.data
                    this.sort()
                })
                .catch(res => {
                    this.message = "検索に失敗しました"
                })
            },
            sort(){
                sort_idx = document.getElementById("select_sort").value;
                if(sort_idx == 0){
                    this.questions.sort((a,b) => {
                        if (a.watched > b.watched){
                            return -1;
                        }else if (a.watched < b.watched){
                            return 1;
                        }else{
                            return 0;
                        }
                    })
                }
            },
            reverse(){
                this.questions.reverse();
            }
        }
        ,mounted() {
            this.search();
        }
        ,computed:{
            no_results: function(){
                return (this.questions.length > 0) ? '' : '検索結果０件'
            }
        }
        // djangoのテンプレートエンジンと競合するので{}から[]に変更
        ,delimiters: ['[[', ']]']
    }).mount('#app')
</script>
{% endblock %}