{% extends 'base.html' %} {% block extra-static %} {% load static %}
<!-- axios(API非同期通信) -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href='{% static "polls/css/login.css" %}' />
{% endblock %} {% block title %}ログイン{% endblock %} {% block content %}

<form id="form">
  {% csrf_token %}
  <div id="container" class="container container-fluid">
    <div class="row">
      <label for="email">メールアドレス</label>
      <input type="text" name="email" required />
    </div>
    <div class="row">
      <label for="password">パスワード</label>
      <input type="password" name="password" required />
    </div>
    <div class="row">
      <input type="submit" class="btn" value="ログイン" />
    </div>
    <div class="row">
      <div class="col-sm-12">
        <a href="{% url 'polls:register' %}">メールアドレスで新規登録</a>
      </div>
    </div>
    <div class="row">
      <a
        class="login-with-google-btn"
        href="{% url 'social:begin' 'google-oauth2' %}"
        >Googleでログイン</a
      >
    </div>
  </div>
</form>
<script>
  const form = document.getElementById("form");
  form.addEventListener("submit", function (e) {
    e.preventDefault();
    const formData = new FormData(form);
    axios
      .post("/login/", formData)
      .then((response) => {
        // レスポンス処理
        if (response.data == "Login Success") {
          location.href = "/";
        }else{
         alert(response.data)
        }
      })
      .catch((error) => {
        alert("サーバ内部でエラーが発生しました");
        console.log(error);
      });
  });
</script>
{% endblock %}
