<!-- templates/index.html -->
{% extends 'base.html' %}
<!-- タイトル -->
{% block title %}新規登録{% endblock %}
<!-- 追加リソース -->
{% block extra-static %}
{% load static %}
<link href="{% static 'polls/css/register.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
<!-- 子・メインコンテンツ -->
{% block content %}
<form enctype="multipart/form-data" method="post" action="{% url 'polls:register' %}">
    {% csrf_token %}
    <div class="container container-fluid">
        <div class="row row-label">
            <div class="col-sm-12"><label>アカウント名</label></div>
        </div>
        <div class="row row-input">
            <div class="col-sm-12"><input name="id" value="{{ account.user.username }}" required></div>
        </div>
        <div class="row row-label">
            <div class="col-sm-12"><label>メール</label></div>
        </div>
        <div class="row row-input">
            <div class="col-sm-12"><input name="email" required></div>
        </div>
        <div class="row row-label">
            <div class="col-sm-12"><label>パスワード</label></div>
        </div>
        <div class="row row-input">
            <div class="col-sm-12"><input name="pw" type="password" required></div>
        </div>
        <div class="row row-label">
            <div class="col-sm-12"><label>姓</label></div>
        </div>
        <div class="row row-input">
            <div class="col-sm-12"><input name="last_name" required></div>
        </div>
        <div class="row row-label">
            <div class="col-sm-12"><label>名</label></div>
        </div>
        <div class="row row-input">
            <div class="col-sm-12"><input name="first_name" required></div>
        </div>
        <div class="row row-input">
            <div class="col-sm-12"><button class="btn-primary btn-lg">登録</button></div>
        </div>
    </div>
</form>


{% endblock %}



