<!-- templates/index.html -->
{% extends 'base.html' %}
<!-- タイトル -->
{% block title %}新規登録{% endblock %}
<!-- 追加リソース -->
{% block extra-static %}
{% load static %}
<link href="{% static 'polls/css/register.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
<!-- 子・メインコンテンツ -->
{% block content %}


<form enctype="multipart/form-data" method="post" action="{% url 'polls:register' %}">
    {% csrf_token %}
    <div class="container container-fluid">
        <div class="row">
            {{ message }}
        </div>
        <div class="row row-label">
            <div class="col-sm-12"><label>アカウント名</label></div>
        </div>
        <div class="row row-input">
            <div class="col-sm-12"><input name="id" required></div>
        </div>
        <div class="row row-label">
            <div class="col-sm-12"><label>メール</label></div>
        </div>
        <div class="row row-input">
            <div class="col-sm-12"><input name="email" required></div>
        </div>
        <div class="row row-label">
            <div class="col-sm-12"><label>パスワード</label></div>
        </div>
        <div class="row row-input">
            <div class="col-sm-12"><input name="pw" type="password" required></div>
        </div>
        <div class="row row-label">
            <div class="col-sm-12"><label>姓</label></div>
        </div>
        <div class="row row-input">
            <div class="col-sm-12"><input name="last_name" required></div>
        </div>
        <div class="row row-label">
            <div class="col-sm-12"><label>名</label></div>
        </div>
        <div class="row row-input">
            <div class="col-sm-12"><input name="first_name" required></div>
        </div>
        <div class="row row-label">
            <div class="col-sm-12"><label>プロフィール画像</label></div>
        </div>
        <div class="row row-input">
            <div class="col-sm-12"><input id="file" type="file" name="image" accept=".png,.jpg,.jpeg"></div>
        </div>
        <div class="row row-input">
            <div class="col-sm-12"><img id="img"></div>
        </div>
        <div class="row row-input">
            <div class="col-sm-12"><button class="btn-primary btn-lg">登録</button></div>
        </div>
    </div>
</form>

<script>
$('#file').change(function(e){
    $("#img").attr("src", "");$("#img").attr("title", "");
    //ファイルオブジェクトを取得する
    let file = e.target.files[0];
    let reader = new FileReader();
    
    //キャンセルされた場合終了
    if(file == null)return;

    //画像でない場合は処理終了
    if(file.type.indexOf("image") < 0){
        alert("画像ファイルを指定してください。");
        return false;
    }

    //アップロードした画像を設定する
    reader.onload = (file => {
        return e => {
            $("#img").attr("src", e.target.result);
            $("#img").attr("title", file.name);
        };
    })(file);
    reader.readAsDataURL(file);
});
</script>
{% endblock %}



