<!-- templates/index.html -->
{% extends 'base.html' %}
<!-- タイトル -->
{% block title %}新規登録{% endblock %}
<!-- 追加リソース -->
{% block extra-static %}
{% load static %}
<link href="{% static 'polls/css/register.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
<!-- 子・メインコンテンツ -->
{% block content %}


<form method="post" action="{% url 'polls:register' %}">
    {% csrf_token %}
    
    <div class="container container-fluid">
        <div class="row">
            {{ message }}
        </div>
        <div class="row row-label">
            <div class="col-sm-12"><label>メール</label></div>
        </div>
        <div class="row row-input">
            <div class="col-sm-12"><input name="email" type="email" required></div>
        </div>
        <div class="row row-label">
            <div class="col-sm-12"><label>パスワード</label></div>
        </div>
        <div class="row row-input">
            <div class="col-sm-12"><input name="password" type="password" required></div>
        </div>
        <input name="profile" value="よろしくお願いします" hidden>

        <div class="row row-input">
            <div class="col-sm-12"><button class="btn-primary btn">登録</button></div>
        </div>
    </div>
</form>


{% endblock %}



