{% extends 'base.html' %}
{% block title %}更新履歴{% endblock %}

{% block content %}

<div class="not_completed">
    <p>更新予定</p>
    <table id="tb_plan">
        <tr><th>内容</th><th>追加日</th></tr>
        {% for cont in contents %}
            {% if not cont.is_completed %}
                <tr id="tr{{cont.id}}">
                    <td id="td_content_text{{cont.id}}">{{cont.content_text}}</td>
                    <td id="td_updated_at{{cont.id}}">{{cont.updated_at}}</td>
                </tr>
            {%endif%}
        {% endfor %}
    </table>
</div>
<div class="completed">
    <p>更新履歴</p>
    <table id="tb_history"> 
        <tr><th>内容</th><th>完了日</th></tr>
        {% for cont in contents %}
            {% if cont.is_completed %}
                <tr id="tr{{cont.id}}">
                    <td id="td_content_text{{cont.id}}">{{cont.content_text}}</td>
                    <td id="td_updated_at{{cont.id}}">{{cont.updated_at}}</td>
                </tr>
            {%endif%}
        {% endfor %}
    </table>
</div>

<!-- CSS -->
<style>
.not_completed,.completed{
    margin-top: 20px;
    border-bottom: 2px solid gray;
} 
.not_completed p,.completed p{
    font-weight: bold;
}
th{
    font-weight: normal;
}
</style>


{% endblock %}