{% extends 'base.html' %}
{% block title %}詳細画面{% endblock %}

<!-- 追加リソース -->
{% block extra-static %}
<!-- Vue3 -->
<script src="https://unpkg.com/vue@3"></script>
<!-- axios(API非同期通信) -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block content %}

<div id="app">
    [[ message ]]{{error_message}}
    <form method="post" action="{% url 'polls:vote' question.id %}">
        {% csrf_token %}
        <input hidden id="question_id" value="{{ question.id }}">
        
        <h2>{{ question.title }}</h2>
        <div id="question-info">
            <p>投稿者: {{ question.author.username }}</p>
            <p>{{ question.explanation }}</p>
            <p>{{ question.genre.title|default_if_none:"ジャンルなし" }}</p>
        </div>
        
        <div id="choices-container">
            <ul>
                <li v-for="(choice,index) in choices">
                    <div>
                        <input type="radio" name="choice" :value="choice.id" :id="choice.id">
                        <label :for="choice.id">[[ choice.choice_text ]]</label>
                    </div>
                </li>
            </ul>
            <button id="btn-submit" class="btn btn-primary">投票</button>
        </div>
    </form>
</div>

<style>
    #question-info{
        font-size: 10px;
        margin-bottom: 30px;
    }
    #choices-container{
        width:100%;
        text-align: center;
    }
    li{
        margin-bottom: 10px;
    }
    input[type=radio]{
        display: none;
    }
    input[type="radio"]:checked + label {
        background: #31A9EE;/* マウス選択時の背景色を指定する */
        color: #ffffff; /* マウス選択時のフォント色を指定する */
    }
    label {
        display: block; /* ブロックレベル要素化する */
        height: 45px; /* ボックスの高さを指定する */
        padding-left: 5px; /* ボックス内左側の余白を指定する */
        padding-right: 15px; /* ボックス内御右側の余白を指定する */
        color: #b20000; /* フォントの色を指定 */
        text-align: center; /* テキストのセンタリングを指定する */
        font-weight: bold;
        line-height: 30px; /* 行の高さを指定する */
        cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
        border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
        border-radius: 5px; /* 角丸を指定する */
    }
    label:hover{
        background-color: #31A9EE;
    }
    /* #btn-submit{
        width:100px;
        height:60px;
        font-weight: bold;
        border-radius: 10px;
        text-align: center;
    } */
</style>

<script>
    Vue.createApp({
        data() {
            return {
                message: "",
                question_id: 0,
                choices: [],
            }
        }
        ,methods: {
        }
        ,mounted() {
            // question_id取得
            this.question_id = document.getElementById('question_id').value;

            // 選択肢取得
            axios.get("/api/choices/" + this.question_id)
            .then(res => {
                this.choices = res.data
            })
            .catch(res => {
                this.message = "選択肢情報の取得に失敗しました" + res.data
            })
        }
        ,computed: {
            voteSum(){ return this.choices.reduce((sum,el) => sum + el.votes,0)}
        }
        // djangoのテンプレートエンジンと競合するので{}から[]に変更
        ,delimiters: ['[[', ']]']
    }).mount('#app')
</script>
{% endblock %}