{% extends 'base.html' %}
{% block title %}投票画面{% endblock %}

<!-- 追加リソース -->
{% block extra-static %}
<!-- Vue3 -->
<script src="https://unpkg.com/vue@3"></script>
<!-- axios(API非同期通信) -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block content %}

<div id="app">
    [[ message ]]{{error_message}}
    <form method="post" action="{% url 'polls:vote' question.id %}" name="form1">
        {% csrf_token %}
        <input hidden id="question_id" value="{{ question.id }}">

        <!-- 公開日 -->
        <p id="created_at">公開日 {{ question.created_at|date:"Y/n/j" }}</p>

        <!-- ジャンル -->
        <p id="genre">#{{ question.genre }}</p>

        <!-- タイトル -->
        <h2 id="title">{{ question.title }}</h2>
        
        <!-- 選択肢 -->
        <div id="choices-container" class="container container-fluid">
            <div v-for="(choice,index) in choices" class="choice row">
                <input type="radio" name="choice" :value="choice.id" :id="choice.id" required>
                <label :for="choice.id">[[ choice.choice_text ]]</label>
            </div>
            <input @click="submit" class="btn btn-primary" id="btn-submit" type="button" value="投票">
        </div>

        <!-- 詳細 -->
        <div id="content-info">
            <a id="user-icon" href='{% url "polls:account_top" question.author.username %}'>
                <i class="fa-solid fa-circle-user fa-3x"></i>
                {{ question.author.username }}
            </a>
            <p class="explanation">{{ question.explanation|default:"説明文はありません" }}</p>
        </div>
    </form>
</div>

<style>
    #app{
        margin: auto;
        max-width: 700px;
    }
    #created_at,#genre{
        text-align: right;
        right: 0px;
    }
    #title{
        text-align: center;
        margin-bottom: 20px;
    }
    #choices-container{
        width:100%;
        max-width: 500px;
        text-align: center;
    }
    .choice{
        margin-bottom: 10px;
    }
    input[type=radio]{
        display: none;
    }
    /* 通常時 */
    label {
        display: block; 
        min-height: 45px; 
        background-color: rgba(54, 162, 235, 0.2);
        text-align: center; 
        font-weight: bold;
        line-height: 30px; 
        cursor: pointer; 
        border: 1px solid #006DD9;
        border-radius: 5px; 
    }
    /* ホバー中 */
    label:hover{
        background-color: #31A9EE;
        color: #ffffff; 
    }
    /* 選択状態 */
    input[type="radio"]:checked + label {
        background: #31A9EE;
        color: #ffffff; 
        border: 1px solid black;
    }
    #btn-submit{
        width: 200px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    #content-info{
        padding-top: 30px;
        border-top: solid gray 1px;
    }
    #user-icon{
        text-decoration: none;
        color: black;
    }
    .explanation{
        padding-top: 10px;
    }
</style>

<script>
    Vue.createApp({
        data() {
            return {
                message: "",
                question_id: 0,
                choices: [],
            }
        }
        ,methods: {
            submit: function(){
                let flg = false
                for(var i=0; i<document.form1.choice.length;i++){
                    if(document.form1.choice[i].checked){
                        flg = true;
                    }
                }
                if(flg)document.form1.submit();
                else this.message="選択肢を選択してください";
            }
        }
        ,mounted() {
            // question_id取得
            this.question_id = document.getElementById('question_id').value;

            // 選択肢取得
            axios.get("/api/choices/" + this.question_id)
            .then(res => {
                this.choices = res.data
            })
            .catch(res => {
                this.message = "選択肢情報の取得に失敗しました" + res.data
            })
        }
        ,computed: {
            voteSum(){ return this.choices.reduce((sum,el) => sum + el.votes,0)}
        }
        // djangoのテンプレートエンジンと競合するので{}から[]に変更
        ,delimiters: ['[[', ']]']
    }).mount('#app')
</script>
{% endblock %}