.container-fluid{
    max-width: 400px;
    padding-top: 30px;
    margin: auto;

    background-color: #CFF6F6;
    border: solid 1px gray;
    border-radius: 10px;
}
form{
    width: 100%;
}
.row-input{
    margin-bottom: 10px;
}
#img{
    max-height: 100px;
    /* width: height; */
}