@charset "UTF-8";

html,body {
	overflow-y: scroll;
	height: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote {
	margin: 0;
	padding: 0;
	outline: none;
	font-family: Verdana, Meiryo, sans-serif;
	font-weight: 500;
	user-select: none;
}

#header_outline {
	z-index:100000;
    top:0px;
    left: 0px;
	width: 100% ;
	height: 60px;
	/* padding: 12px 25px; */
	background: linear-gradient(to bottom, #ffffff, #f8f8f6);
	border-color: #bcbcbc;
	border-style: solid;
	border-width: 0 0 1px 0;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

#header {
    display: flex;
    justify-content:space-between;
	
	width: 100%;
	height: 100%;
}

#header > .logo_cell {
    height: 100%;
	min-width: 200px;
	padding: 5px;
	cursor: pointer;
	
}

#header > .logo_cell > a > .main_text {
	float: left;
	font-size: 11px;
	line-height: 13px;
	color: #484848;
	padding: 8px 8px 7px 0;
}
#header > .logo_cell > a > .main_logo {
	float: left;
	background-size: 168px 39px;
	width: 100px;
	height: 100%;
	background-size: cover;
	/* background-position: 70% 70%; */
	background: url('/static/polls/images/logo.png')
}

#header .last_cell{
    right: 0px;
    width: 320px;
	height: 100%;
}
#header .last_cell .header_user_name{
	padding: 1px;
	text-align: right;
}
#header .last_cell .menus{
	display: flex;
    justify-content: flex-end;
	align-items: center;
    width: 100%;
}
#header .last_cell .menus *{
	padding: 3px;
}

/* ドロップダウン */
#header-dropmenu {
list-style: none;
width: 50px;
height: 40px;
margin: 0 auto;
padding: 0;
display: table;
table-layout: fixed;
}
#header-dropmenu > li {
position: relative;
display: table-cell;
vertical-align: middle;
border: 1px solid #f8f8f8;
background: #f8f8f8; /* 背景色*/
}
#header-dropmenu li a {
display: block;
text-align: center;
line-height: 40px;
font-weight: bold;
text-decoration: none;
font-size: 14px;
}
#header-dropmenu li ul {
visibility: hidden;
width: 100px;
list-style: none;
position: absolute;
top: 100%;
/* left: -1px; */
right: 0px;
margin: 0;
padding: 0;
border: 1px solid #222; /* マウスオーバー時の枠線 */
border-top: none;
}
#header-dropmenu li:hover ul {
visibility: visible;
}
#header-dropmenu li ul li {
background: #fff;
transition: all .2s ease;
}
#header-dropmenu > li:hover {
background: #fff;
border: 1px solid #222; /* マウスオーバー時の枠線 */
border-bottom: none;
}
#header-dropmenu li:hover ul li:hover {
background: #f8f8f8;
}
.header-dropmenu-cell{
	display: none;
}

.update_history_cell,.login_cell,.signup_cell,.create_cell{
	display: block;
}

#main_content {
	display: table;
	width: 100%;
	min-width: 1280px;
}

#main_content .content_left {
	display: table-cell;
	vertical-align: top;
	width: 210px;
	height: 500px;
}

#main_content .content_left .body_left{
    /* background-color: cadetblue; */
    position: fixed;
    width: 210px;
    top: 72px;
    left: 0px;
    bottom: 0px;
}

#main_content .content_center {
	/* display: table-cell;
	width: calc(100% - 620px);
	min-width: 400px;
	vertical-align: top;
	margin-top: 50px;
	padding: 30px 50px 30px 50px; */
}

/* 
フッター 
*/
#footer ul {
list-style: none;
margin: 0;
padding: 0;
}

#footer {
position: relative;
background: #222;
color: #fff;
bottom: 0px;
/* text-align: center; */
}

#footer .logo {
text-align: center;
padding: 20px 0;
border-bottom: 1px solid #111;
}

#footer .logo a {
display: inline-block;
}

#footer .logo img {
width: 120px;
}

#footer .nav a {
display: block;
padding: 0 10px;
color: #ccc;
}

#footer .nav {
	/* display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox; */
	display: flex;
	/* -webkit-box-align: center;
	-webkit-align-items: center; */
	/* -ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center; */
	justify-content: center;
	padding: 20px 0;
}
#footer .nav a:hover {
	color: #ca353b;
}
	

/* 画面幅が480px以下の場合（スマートフォン用） */
@media screen and (max-width:480px) {
	
}
	
/* 画面幅が780px以下の場合（タブレット用） */
@media screen and (max-width:780px) {
	body {
		/* -webkit-text-size-adjust: 100%; */
	}
	.header_user_name{
		display: none;
	}
	.header-dropmenu-cell{
		display: block;
	}
	.update_history_cell,.login_cell,.signup_cell,.create_cell{
		display: none;
	}
	
	#main_content {
		/* display: table;
		width: 100%; */
	}
	
	#main_content .content_left {
		display: none;
	}
	
	#main_content .content_center {
		display: inline-block;
		/* width: calc(100% - 40px); */
		min-width: calc(320px - 40px);
		height: 100%;
		margin: 115px 0 100px 0;
		padding: 15px 20px 15px 20px;
	}
	
	
	/* SPのみ */
	#footer {
		/* display: block; */
		text-align: center;
		width: 100%;
	}
	#footer .nav {
		display: block;
	}

	#footer .nav li {
		border-top: 1px solid #555555;
	}

	#footer .nav li:last-child {
		border-bottom: 1px solid #555555;
	}

	#footer .nav li a {
		padding: 12px 20px;
		text-align: left;
	}
}